.filter {
    background: hsl(180, 29%, 50%);
    color: hsl(180, 14%, 20%);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin: 0 1rem 0 0;
}

.filter span {
    color: #fff;
    font-weight: 500;
}

button {
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 0 0 .5rem;
    background: transparent;
}